footer{
    border: 10px solid blue;

    .four{
        border: 10px solid black;
        height:150px;
        display: flex;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
    }
    .three{
    border: 10px solid black;
    height:100px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    }
}
