footer{
    /* border: 10px solid blue; */

    .four{
        /* border: 10px solid rgb(0, 0, 0); */
        height:150px;
        display: flex;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
    }
    .pattern{
        display: flex;
        justify-content: center;
        padding: 15px;
        background-color: #ffffff;
    }
    
    .three{
    /* border: 10px solid black; */
    height: auto;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    }
    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 75px;
    }
    .categories a{ /*來自超連結的文字底線*/
        text-decoration: none;
    }
    .button-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: none;
        background: none;
        cursor: pointer;
        width: 60px;
        padding: 5px;
    }
    .button-icon i {
        font-size: 24px;
        line-height: 3;
        margin-bottom: 10px;
    }
    .icon-green {
        color: #00C2B3;
    }
    
    .icon-orange {
        color: #FF5722;
    }
    
    .icon-red {
        color: #E3002C;
    }
    
    .icon-blue {
        color: #0066CC;
    }
    .button-icon div {
        font-size: 16px;
        color: #333;
        line-height: 1.2;
    }
}
