main{
    border: 10px solid blue;
}
.two{
    border: 10px solid black;
    height:350px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
}
.three{
    border: 10px solid black;
    height:100px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
}